*, *::before, *::after {
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  background-color: $color-dark;
}

#pages section {
  display: none;
}

/* Styl dla aktywnej sekcji */
#pages section.active {
  display: block;
}