$color-dark: #131313;
$color-light: #fff;
$color-main: #CF383E;
$color-gray: #BFBFBF;

$font-text: 'Source Sans 3', sans-serif;

$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;