.splash {
  height: 1300px;
  position: relative;
  background-image: url('../../images/background.jpg');
  background-position: center center;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom,  rgba(19, 19, 19, 0), rgba(19, 19, 19, 1));
    pointer-events: none;
    z-index: -1;
  }

  .splash-inner {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    max-width: 55%;
    cursor: pointer;
    text-decoration: none;

    color: $color-light;
    font-weight: $font-black;
    font-family: $font-text;
    text-transform: uppercase;

    h1 {
      font-size: 200px;
      letter-spacing: 120px;
      filter: drop-shadow(0 0 71px rgba(0,0,0,0.39));
      margin: 0;
      display: flex;
    }

    h2 {
      font-size: 36px;
      width: 1922px;
      height: 210px;
      letter-spacing: 11px;
      line-height: 72px;
      margin: 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
    
}

.navigation {
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 27px;
  text-transform: uppercase;
  color: $color-light;
  font-weight: $font-semibold;
  font-family: $font-text;
  margin-top: 65px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;

  a {
    text-decoration: none;
    color: $color-gray;
    border-bottom: none;
    margin: 0 80px;

    &.active {
      color: $color-light;
    }
  }
}