.subscribe-section {
  height: 1000px;
  background-image: url('../../images/subscribe.jpg');
  object-fit: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-title h1 {
  width: 1278px;
  height: 410px;
  font-size: 100px;
  letter-spacing: 20px;
  line-height: 27px;
  color: #fff;
  font-weight: 600;
  font-family: 'Source Sans 3', sans-serif;
  text-transform: uppercase;
}