.subscribe-section {
    background-image: url('../../images/subscribe.jpg');
    background-size: cover;
    height: 1000px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.subscribe-title {
    width: 1278px;
    height: 410px;
    font-size: 100px;
    letter-spacing: 20px;
    line-height: 27px;
    color: $color-light;
    font-weight: $font-semibold;
    font-family: $font-text;
    text-transform: uppercase;
}